<a href="https://colab.research.google.com/github/AhnJunYeong0319/pythonbasic01/blob/master/Ahn_0427_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

In [3]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [4]:
df.iloc[0,1]

'Thriller'

In [5]:
df.iloc[0:3,2:4]

   Released   Length
0      1982  0:42:19
1      1980  0:42:11
2      1973  0:42:49

In [6]:
df.iloc[0:5,1:3]

                       Album  Released
0                   Thriller      1982
1              Back in Black      1980
2  The Dark Side of the Moon      1973
3              The Bodyguard      1992
4            Bat Out of Hell      1977

In [7]:
df.loc[3,'Album']

'The Bodyguard'

In [8]:
df.loc[1:7,'Released']

1    1980
2    1973
3    1992
4    1977
5    1976
6    1977
7    1977
Name: Released, dtype: int64

In [9]:
df.loc[3:5,'Album':'Length']

                             Album  Released   Length
3                    The Bodyguard      1992  0:57:44
4                  Bat Out of Hell      1977  0:46:33
5  Their Greatest Hits (1971-1975)      1976  0:43:08

Assignment #1.3

In [0]:
filter1 = df["Released"] > 1979
filter2 = df["Music Recording Sales (millions)"] > 24

In [11]:
df.where(filter1 & filter2)

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

Assignment 1.4 sol 1)

In [16]:
count = 0
for i in range(len(df)):
  if "rock" in df["Genre"][i]:
    count = count + 1

if count != 0 :
  print("There is 'rock' in my database.")
else :
  print("There is no 'rock' in my database.")

There is 'rock' in my database.

sol 2)

In [17]:
for i in range(len(df['Genre'])):
  if df['Genre'][i].find('rock') != -1:
    print("There is 'rock' in my database")
    break

  else :
    i = i

There is 'rock' in my database